body { text-align: center;
    background-color:white

  }
a{ color:darkblue /*set color to red*/

}

h1{ margin-left:34px

}
h1{ padding-bottom: 1%;
}


table, th , td{
    border-spacing: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border-color: black;
    border-style:solid
}
tr{ border-bottom: 10px solid #ddd


}

table{ border-spacing: 2px;

}

tr:nth-child(even) {
    background-color: white;
}
